# Python
__pycache__/
*.pyc
*.pyo
*.pyd
*.pyc

# Environments
.env
venv/
env/

# Flask instance data
instance/
*.db
switchboard.db
instance/app.db

# Uploaded media
static/uploads/

# OS
.DS_Store
Thumbs.db
