{% extends 'base.html' %}
{% block title %}Register – BrisbaneEthicaction{% endblock %}
{% block content %}
<h2>Register</h2>
<form method="post">
  <label>Name:</label><br><input type="text" name="name"><br>
  <label>Email:</label><br><input type="email" name="email"><br>
  <label>Password:</label><br><input type="password" name="password"><br><br>
  <button type="submit">Register</button>
  <div class="alt-link">
    Already have an account ? <a href="/login"> Log in </a>here
  </div>
</form>
{% endblock %}